<h4>New User Component</h4>
<form (submit)="create()">

  <input type="text" name="firstName" [(ngModel)]="newUser.firstName" />
  <input type="text" name="lastName" [(ngModel)]="newUser.lastName" />
  <input type="text" name="email" [(ngModel)]="newUser.email" />
  <input type="submit" />

</form>
