<h5>User Edit Component</h5>
<form (submit)="update()">

  <input type="text" name="firstName" [(ngModel)]="userEdit.firstName" />
  <input type="text" name="lastName" [(ngModel)]="userEdit.lastName" />
  <input type="text" name="email" [(ngModel)]="userEdit.email" />
  <input type="submit"  value="Update"/>

</form>
