<h4>User list Component</h4>
<div *ngFor="let user of users">
  {{user._id}} - {{user.firstName}} - {{user.lastName}} - {{user.email}}
  <button (click)="destroy(user)">Delete</button>
  <button (click)="user.editable = !user.editable">edit</button>
  <app-edit-user
                 [user]="user"
                 *ngIf="user.editable"
                 (updateUserEvent)="update($event)" ></app-edit-user>
</div>
