<h3>User Component</h3>
{{users | json}}

<app-new-user (createNewUserEvent)="create($event)"></app-new-user>
<app-user-list [users]="users" (destroyUserEvent)="destroy($event)" (updateUserEvent)="update($event)" ></app-user-list>
